---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            <img src="assets/img/signature.png" class="float-right" style="width: 250px; height: auto;">
            <!-- <a class="float-right">Email: pj20[at]illinois.edu</a> -->
            <!-- <a href="{{'assets/pdf/CV.pdf'}}" target="_blank" rel="noopener noreferrer" class="float-right">CV <i class="fas fa-file-pdf"></i></a> -->
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2 style="margin-top: 80px;"><a href="{{ '/publications/' | relative_url }}" style="color: inherit;"><strong>Research Experience</strong></a></h2>
          {%- include selected_papers.html %}
          {% endif %}

          <!-- Software -->
          <h2 style="margin-top: 80px; border-bottom: 1px solid rgb(239, 236, 236); padding-bottom: 30px;"><a href="/software/" style="color: inherit;"><strong>Software Development</strong></a></h2>

          <!-- Badges under PyHealth -->
          <p><h5><a href="https://pyhealth.readthedocs.io/en/latest/">PyHealth</a> - A Deep Learning Toolkit for Healthcare</h5></p>
          <!-- <div class="software-section">
            <img src="/assets/img/publication_preview/pyhealth-logo.png" alt="PyHealth Logo" class="pyhealth-logo">
          </div> -->
          <div class="software_icons">
              <a href="https://pypi.org/project/pyhealth/" target="_blank" rel="noopener noreferrer">
                <img src="https://img.shields.io/pypi/v/pyhealth.svg?color=brightgreen" alt="PyPI version">
              </a>
              <a href="https://pyhealth.readthedocs.io/en/latest/" target="_blank" rel="noopener noreferrer">
                  <img src="https://readthedocs.org/projects/pyhealth/badge/?version=latest" alt="Documentation status">
              </a>
              <a href="https://github.com/sunlabuiuc/pyhealth/stargazers" target="_blank" rel="noopener noreferrer">
                  <img src="https://img.shields.io/github/stars/sunlabuiuc/pyhealth.svg" alt="GitHub stars">
              </a>
              <a href="https://github.com/sunlabuiuc/pyhealth/network" target="_blank" rel="noopener noreferrer">
                  <img src="https://img.shields.io/github/forks/sunlabuiuc/pyhealth.svg?color=blue" alt="GitHub forks">
              </a>
              <a href="https://pepy.tech/project/pyhealth" target="_blank" rel="noopener noreferrer">
                  <img src="https://pepy.tech/badge/pyhealth" alt="Downloads">
              </a>
              <a href="https://pyhealth.readthedocs.io/en/latest/tutorials.html" target="_blank" rel="noopener noreferrer">
                  <img src="https://img.shields.io/badge/Tutorials-Google%20Colab-red" alt="Tutorials">
              </a>
          </div>
          <p>Main Developers: Chaoqi Yang, Zhenbang Wu, <b>Patrick Jiang</b>, Zhen Lin, Benjamin Danek</p>

          <p><h5><a href="https://pat-jj.github.io/TextbookKG/">TxBKG</a> - Convert Any PDFs into Highly Interactive Knowledge Graphs!</h5></p>
          <!-- <div class="software-section">
            <img src="/assets/img/kgsphere-logo.png" alt="KGSphere Logo" class="kgsphere-logo">
          </div> -->
          <div class="software_icons">
              <a href="https://github.com/pat-jj/TextbookKG/stargazers" target="_blank" rel="noopener noreferrer">
                  <img src="https://img.shields.io/github/stars/pat-jj/TextbookKG.svg" alt="GitHub stars">
              </a>
              <a href="https://github.com/pat-jj/TextbookKG/network" target="_blank" rel="noopener noreferrer">
                  <img src="https://img.shields.io/github/forks/pat-jj/TextbookKG?color=blue" alt="GitHub forks">
              </a>
          </div>
          <p>Developer: <b>Patrick Jiang</b></p>

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

        <div id="clustrmaps-container">
          <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=bWiKAH2bSIjAc4dLQ15AfqQN92lAkCtT2Bc8n2ovxw8"></script>
        </div>
      

</div>
