---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

          {%- if page.related_publications != null and page.related_publications.size > 0 -%}
          {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
          <h2>References</h2>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
          </div>
          {%- endif %}

          {%- if site.giscus.repo and page.giscus_comments -%}
            {% include giscus.html %}
          {%- endif -%}
        </div>
        
        <h2 style="margin-top: 80px; border-bottom: 1px solid rgb(239, 236, 236);"></h2>

        <div style="display: flex; justify-content: space-between; align-items: center;">
          <div style="display: flex; align-items: left;">
            <a href="https://scholar.google.com/citations?hl=en&user=TejDN9wAAAAJ&view_op=list_works&authuser=2&sortby=pubdate">
              <img src="../assets/img/google-scholar.png" style="width: 100px; height: auto;">
            </a>
            <a href="https://github.com/pat-jj">
              <img src="../assets/img/github-icon.png" style="width: 100px; height: auto;">
            </a>
            </div>
          <div id="clustrmaps-container">
            <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=bWiKAH2bSIjAc4dLQ15AfqQN92lAkCtT2Bc8n2ovxw8"></script>
          </div>

        </div>
